<!DOCTYPE html>
<html>

<head>

    <title>Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Navbar -->
    <div class="navbar">

        <div class="logo">
            AuthentiNews AI
        </div>

        <div>

            <a href="/">
                <button>Home</button>
            </a>

            <a href="/logout">
                <button>Logout</button>
            </a>

        </div>

    </div>


    <div class="container">

        <h1>User Dashboard</h1>

        <p>
            Welcome {{ user }}
        </p>


        <!-- Stats -->
<div class="stats-container">

    <div class="stat-card">

        <h2>
            {{ total_predictions }}
        </h2>

        <p>
            Total Predictions
        </p>

    </div>

    <div class="stat-card">

        <h2 class="real">
            {{ real_count }}
        </h2>

        <p>
            Real News
        </p>

    </div>

    <div class="stat-card">

        <h2 class="fake">
            {{ fake_count }}
        </h2>

        <p>
            Fake News
        </p>

    </div>

</div>

<!-- Analytics Chart -->

<div class="result-box">

    <h2>
        Analytics Overview
    </h2>

    <br>

    <div class="chart-container">

        <div class="chart-card">

            <h3>Total Predictions</h3>

            <div class="chart-number">
                {{ total_predictions }}
            </div>

        </div>

        <div class="chart-card">

            <h3>Real News</h3>

            <div class="chart-number real">
                {{ real_count }}
            </div>

        </div>

        <div class="chart-card">

            <h3>Fake News</h3>

            <div class="chart-number fake">
                {{ fake_count }}
            </div>

        </div>

    </div>

</div>

        <!-- History -->
        <div class="result-box">

            <h2>
                Prediction History
            </h2>

            <br>

            {% for item in history %}

                <div class="history-card">

                    {% if item.prediction == "REAL NEWS" %}

                        <h3 class="real">
                            {{ item.prediction }}
                        </h3>

                    {% else %}

                        <h3 class="fake">
                            {{ item.prediction }}
                        </h3>

                    {% endif %}

                    <p>
                        Confidence:
                        {{ item.confidence }}%
                    </p>

                    <br>

                    <p>
                        {{ item.news_text[:250] }}
                    </p>

                </div>

            {% endfor %}

        </div>

    </div>

</body>

</html>