<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>AuthentiNews AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Navbar -->

    <div class="navbar">

        <div class="logo">
            AuthentiNews AI
        </div>

        <div class="nav-buttons">

            <a href="/login">
                <button>Login</button>
            </a>

            <a href="/register">
                <button>Register</button>
            </a>

            <a href="/dashboard">
                <button>Dashboard</button>
            </a>

        </div>

    </div>


    <!-- Main -->

    <div class="container">

        <h1>
            Detect Fake News Using AI
        </h1>

        <p>
            Advanced Fake News Detection using
            BERT + Explainable AI
        </p>


        <div class="result-box">

            <form action="/predict"
                  method="POST"
                  onsubmit="showLoader()">

                <textarea
                    name="news"
                    placeholder="Paste article text here..."></textarea>

                <input
                    type="text"
                    name="url"
                    placeholder="OR paste article URL here">

                <button type="submit">
                    Analyze News
                </button>

            </form>

            <div id="loading">

    <div class="loader"></div>

    <h2>
        AI is analyzing the news...
    </h2>

    <p>
        Checking content authenticity,
        source credibility,
        and linguistic patterns.
    </p>

</div>

        </div>


        <!-- Loading -->

        <div id="loading">

            <div class="loader"></div>

            <h2 style="margin-top:20px;">
                AI is analyzing the article...
            </h2>

        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>

function showLoader(){

    document.getElementById("loading").style.display = "block";
}

</script>


</body>

</html>